.mm-text-danger {
    color: $mm-text-danger-color;
}

.mm-mb-2 {
    margin-bottom: 0.5rem;
}

.mm-mb-4 {
    margin-bottom: 1rem;
}

.mm-manger-actions-disabled {
    visibility: hidden;
    pointer-events: none;
}

@keyframes mm-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
