@mixin mm-input {
    @include mm-control;

    color: $mm-input-color;
    padding: $mm-input-padding;
    border-color: $mm-input-border-color;
    border-radius: $mm-input-border-radius;
    background-color: $mm-input-background-color;

    @include mm-placeholder {
        color: $mm-input-placeholder-color;
    }

    &:hover {
        color: $mm-input-hover-color;
        border-color: $mm-input-hover-border-color;
        background-color: $mm-input-hover-background-color;

        @include mm-placeholder {
            color: $mm-input-hover-placeholder-color;
        }
    }

    &:focus,
    &:active {
        border-color: $mm-input-active-border-color;
    }

    &[disabled] {
        color: $mm-input-disabled-color;
        border-color: $mm-input-disabled-border-color;
        background-color: $mm-input-disabled-background-color;

        @include mm-placeholder {
            color: $mm-input-disabled-placeholder-color;
        }
    }
}

.mm-input {
    @include mm-input;
    width: 100%;
    max-width: 100%;
}

.mm-label {
    display: block;
    color: $mm-label-color;
    font-size: $mm-label-size;
    font-weight: $mm-label-weight;

    &:not(:last-child) {
        margin-bottom: $mm-label-margin;
    }
}

.mm-field {
    &:not(:last-child) {
        margin-bottom: $mm-field-margin;
    }
}
