$mm-input-padding: 0.5rem 0.75rem !default;
$mm-input-border-radius: $mm-border-radius-default !default;

$mm-input-color: $mm-grey-darker !default;
$mm-input-hover-color: $mm-grey-darkest !default;
$mm-input-disabled-color: $mm-grey-light !default;

$mm-input-placeholder-color: $mm-grey !default;
$mm-input-hover-placeholder-color: $mm-grey-dark !default;
$mm-input-disabled-placeholder-color: $mm-grey !default;

$mm-input-border-color: $mm-grey-light !default;
$mm-input-hover-border-color: $mm-grey !default;
$mm-input-active-border-color: $mm-grey-light !default;
$mm-input-disabled-border-color: $mm-grey-light !default;

$mm-input-background-color: $mm-white !default;
$mm-input-hover-background-color: $mm-white !default;
$mm-input-disabled-background-color: $mm-grey-lighter !default;

$mm-label-size: inherit !default;
$mm-label-margin: 0.5rem !default;
$mm-label-color: $mm-blue-light !default;
$mm-label-weight: $mm-font-weight-bold !default;

$mm-field-margin: 1.5rem !default;

@mixin input {
    @include mm-control;

    color: $mm-input-color;
    padding: $mm-input-padding;
    border-color: $mm-input-border-color;
    border-radius: $mm-input-border-radius;
    background-color: $mm-input-background-color;

    @include placeholder {
        color: $mm-input-placeholder-color;
    }

    &:hover {
        color: $mm-input-hover-color;
        border-color: $mm-input-hover-border-color;
        background-color: $mm-input-hover-background-color;

        @include placeholder {
            color: $mm-input-hover-placeholder-color;
        }
    }

    &:focus,
    &:active {
        border-color: $mm-input-active-border-color;
    }

    &[disabled] {
        color: $mm-input-disabled-color;
        border-color: $mm-input-disabled-border-color;
        background-color: $mm-input-disabled-background-color;

        @include placeholder {
            color: $mm-input-disabled-placeholder-color;
        }
    }
}

.mm-input {
    @include input;

    width: 100%;
    max-width: 100%;
}

.mm-label {
    display: block;
    color: $mm-label-color;
    font-size: $mm-label-size;
    font-weight: $mm-label-weight;

    &:not(:last-child) {
        margin-bottom: $mm-label-margin;
    }
}

.mm-field {
    &:not(:last-child) {
        margin-bottom: $mm-field-margin;
    }
}
