.mm-icon {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;

    .mm-icon-md {
        width: 2rem;
        height: 2rem;
    }
}
