@mixin mm-screen-md() {
    @media (min-width: $mm-screen-md) {
        @content;
    }
}

@mixin mm-screen-lg() {
    @media (min-width: $mm-screen-lg) {
        @content;
    }
}

@mixin placeholder {
    $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input';

    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
            opacity: 1;
        }
    }
}
