$mm-black: #22292f !default;
$mm-white: #fff !default;

$mm-grey-darkest: #3d4852 !default;
$mm-grey-darker: #636363 !default;
$mm-grey-dark: #8795a1 !default;
$mm-grey: #ccc !default;
$mm-grey-light: #d7d8dc !default;
$mm-grey-lighter: #f7f7f7 !default;
$mm-grey-lightest: #fbfbfb !default;

$mm-red-dark: #ce2924 !default;
$mm-red: #e3342f !default;

$mm-blue-dark: #282c37 !default;
$mm-blue: #313542 !default;
$mm-blue-light: #596679 !default;

$mm-green-dark: #29a85e !default;
$mm-green: #38c172 !default;

$mm-border-radius-default: 4px !default;
$mm-shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.10) !default;

$mm-font-size-sm: 0.875em !default;
$mm-font-size-base: 1em !default;
$mm-font-size-lg: 1.125em !default;

$mm-font-weight-normal: 400 !default;
$mm-font-weight-semibold: 600 !default;
$mm-font-weight-bold: 700 !default;

$mm-modal-padding: 3em !default;

$mm-screen-md: 768px !default;
$mm-screen-lg: 992px !default;

$mm-z-index: 50 !default;
$mm-control-height: 3em !default;
$mm-icon-font-size: 14px !default;
