$mm-black: #22292f !default;

$mm-grey-darker: #636363 !default;
$mm-grey-dark: #8795a1 !default;
$mm-grey: #ccc !default;
$mm-grey-light: #d7d8dc !default;
$mm-grey-lighter: #f7f7f7 !default;
$mm-grey-lightest: #fbfbfb !default;

$mm-white: #fff !default;
$mm-red: #e3342f !default;

$mm-border-radius-default: 0.25rem !default;

$mm-font-size-base: 1rem !default;

$mm-font-weight-normal: 400 !default;
$mm-font-weight-semibold: 600 !default;
$mm-font-weight-bold: 700 !default;

$mm-modal-padding: 3rem !default;
