.mm-errors {
    color: $mm-errors-color;
    padding: $mm-errors-padding;
    border-radius: $mm-errors-border-radius;
    background-color: $mm-errors-background-color;

    ul {
        padding: 0;
        list-style: none;
    }
}
