.is-media-manager {
    .select-media {
        &[disabled] {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    .folders-holder {
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 1.25rem;
        margin-bottom: 2rem !important;

        &:before {
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            content: '';
            position: absolute;
            background-color: $border;
        }

        .control {
            margin-bottom: .75rem;

            .control {
                margin-bottom: 0;
            }
        }

        .button {
            &.is-folder {
                max-width: 200px;
                padding-right: 1rem;
        
                &.is-focused {
                    color: $white;
                    background-color: $link;
                }

                .icon {
                    margin-right: .75rem;
                }

                span:not(.icon) {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &:not(.is-folder) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }

    .media-card {
        cursor: pointer;
        position: relative;

        .media-file {
            display: block;
            padding-top: 75%;
            position: relative;
            background-color: $grey;

            .icon {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 4rem;
                height: 4rem;
                margin: auto;
                position: absolute;
            }
        }

        .media-content {
            overflow: hidden;
            white-space: nowrap;
            padding: .5rem .75rem;
            text-overflow: ellipsis;
            border: solid 1px $grey-dark;
            background-color: $grey-lighter;
        }

        &.is-focused {
            outline-style: solid;
            outline-color: $link;

            .media-content {
                color: $white;
                border-color: $link;
                background-color: $link;
            }
        }

        &.is-selected {
            box-shadow: 0 0 0 2px rgba($primary, .5),
                        0 0 0 1px rgba($black, .1);
        }
    }

    .notification {
        border-radius: $radius;
    }
}
