.mm-manager {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: $mm-manager-background-color;
    min-height: calc(100vh - #{$mm-modal-padding} * 2);
}

.mm-manager-content {
    flex-grow: 1;
    overflow: scroll;
    padding: 1rem 1.5rem;

    hr {
        height: 1px;
        margin: 1.5rem 0;
        background-color: $mm-grey-light;
    }
}

.mm-manger-actions {
    .mm-button {
        &:not(:last-child) {
            margin-right: 0.75rem;
        }
    }
}

.mm-manager-folders {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.mm-manager-folder {
    display: flex;
    padding: 0.5rem;
    user-select: none;
    justify-content: flex-start;

    .mm-manager-folder-detail,
    .mm-manager-folder-select {
        @include mm-control;

        flex-grow: 1;
        cursor: pointer;
        max-width: 10rem;
        border-width: 1px;
        padding: 0 1.5rem;
        margin-right: -1px;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;
        justify-content: center;
        color: $mm-manager-folder-color;
        border-color: $mm-manager-folder-border-color;
        background-color: $mm-manager-folder-background-color;

        &:hover {
            color: $mm-manager-folder-hover-color;
            border-color: $mm-manager-folder-hover-border-color;
            background-color: $mm-manager-folder-hover-background-color;
        }
    }
    
    .mm-manager-folder-detail {
        border-radius: $mm-manager-folder-border-radius 0 0 $mm-manager-folder-border-radius;

        .mm-icon {
            margin-right: 0.1875em;
            margin-left: calc(-0.5em - 2px);
        }
        
        .mm-manager-folder-detail-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    
    .mm-manager-folder-select {
        border-radius: 0 $mm-manager-folder-border-radius $mm-manager-folder-border-radius 0;

        .mm-icon {
            margin-left: calc(-0.5em - 2px);
            margin-right: calc(-0.5em - 2px);
        }
    }

    &.focused {
        .mm-manager-folder-detail {
            color: $mm-manager-folder-focus-color;
            border-color: $mm-manager-folder-focus-border-color;
            background-color: $mm-manager-folder-focus-background-color;
        }
    }
}

.mm-manager-media {
    display: flex;
    margin: -0.5rem;
    flex-wrap: wrap;
}

.mm-manager-media-item {
    width: 50%;
    padding: 0.5rem;

    &.selected {
        .mm-card {
            border-color: $mm-manager-media-item-selected-border-color;
            outline: 3px solid $mm-manager-media-item-selected-border-color;

            .mm-card-body {
                color: $mm-manager-media-item-selected-color;
                background-color: $mm-manager-media-item-selected-background-color;
            }
        }
    }

    &.focused {
        .mm-card {
            border-color: $mm-manager-media-item-focused-border-color;
            outline: 3px solid $mm-manager-media-item-focused-border-color;

            .mm-card-body {
                color: $mm-manager-media-item-focused-color;
                background-color: $mm-manager-media-item-focused-background-color;
            }
        }
    }

    @include mm-screen-md {
        width: 25%;
    }

    @include mm-screen-lg {
        width: 16.6666666667%;
    }
}

.mm-manager-selected-items {
    margin-left: 0.75rem;
}

.mm-button-selected-items {
    text-transform: none;
    color: $mm-selected-items-button-color;
    font-weight: $mm-selected-items-button-font-weight;
    border-color: $mm-selected-items-button-border-color;
    background-color: $mm-selected-items-button-background-color;

    &:hover {
        border-color: $mm-selected-items-button-hover-border-color;
        background-color: $mm-selected-items-button-hover-background-color;
    }
}

.mm-manager-selected-info {
    @include mm-control;
    padding: 0 1.5rem;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 0.75rem;
    pointer-events: none;
    text-decoration: none;
    justify-content: center;
    color: $mm-manager-selected-info-color;
    border-radius: $mm-manager-selected-info-border-radius;
    border: solid 1px $mm-manager-selected-info-border-color;
    background-color: $mm-manager-selected-info-background-color;
}
