$mm-manager-background-color: $mm-white !default;

$mm-manager-notification-color: $mm-white !default;
$mm-manager-notification-border-radius: $mm-border-radius-default !default;
$mm-manager-notification-background-color: $mm-blue-light !default;

$mm-manager-folder-border-radius: $mm-border-radius-default !default;

$mm-manager-folder-color: $mm-grey-darker !default;
$mm-manager-folder-hover-color: $mm-black !default;
$mm-manager-folder-focus-color: $mm-white !default;

$mm-manager-folder-border-color: $mm-grey-light !default;
$mm-manager-folder-hover-border-color: $mm-grey !default;
$mm-manager-folder-focus-border-color: $mm-blue-light !default;

$mm-manager-folder-background-color: $mm-white !default;
$mm-manager-folder-hover-background-color: $mm-grey-lightest !default;
$mm-manager-folder-focus-background-color: $mm-blue-light !default;

