$mm-picker-button-color: $mm-black !default;
$mm-picker-button-font-weight: $mm-font-weight-normal !default;
$mm-picker-button-border-color: $mm-grey-light !default;
$mm-picker-button-background-color: $mm-grey-light !default;

$mm-picker-button-hover-border-color: $mm-grey !default;
$mm-picker-button-hover-background-color: $mm-grey !default;

$mm-picker-preview-overlay-color: $mm-black !default;
$mm-picker-preview-overlay-opacity: 0.25 !default;

$mm-picker-preview-border-color: $mm-grey-light !default;
$mm-picker-preview-border-radius: $mm-border-radius-default !default;
$mm-picker-preview-background-color: $mm-white !default;

$mm-picker-items-border-color: $mm-grey-light !default;
$mm-picker-items-border-radius: $mm-border-radius-default !default;
$mm-picker-items-background-color: $mm-white !default;

$mm-picker-item-border-color: $mm-grey-light !default;
$mm-picker-item-border-radius: $mm-border-radius-default !default;
$mm-picker-item-background-color: $mm-grey-lighter !default;

$mm-picker-item-hover-border-color: $mm-grey !default;
$mm-picker-item-hover-background-color: $mm-grey-lighter !default;
