$mm-manager-selected-info-color: $mm-grey-dark !default;
$mm-manager-selected-info-border-color: $mm-grey-light !default;
$mm-manager-selected-info-background-color: $mm-grey-lightest !default;
$mm-manager-selected-info-border-radius: $mm-border-radius-default !default;

$mm-selected-items-button-color: $mm-black !default;
$mm-selected-items-button-font-weight: $mm-font-weight-normal !default;
$mm-selected-items-button-border-color: $mm-grey-light !default;
$mm-selected-items-button-background-color: $mm-grey-light !default;

$mm-selected-items-button-hover-border-color: $mm-grey !default;
$mm-selected-items-button-hover-background-color: $mm-grey !default;