$mm-upload-border-color: $mm-grey-light !default;
$mm-upload-border-radius: $mm-border-radius-default !default;

$mm-upload-background-color: $mm-white !default;
$mm-upload-header-background-color: $mm-grey-lighter !default;

$mm-upload-progress-bar-color: $mm-grey-light !default;
$mm-upload-progress-bar-active-color: $mm-red !default;
