$mm-folder-font-size: $mm-font-size-sm !default;
$mm-folder-border-radius: $mm-border-radius-default !default;

$mm-folder-color: $mm-grey-darker !default;
$mm-folder-hover-color: $mm-black !default;
$mm-folder-focus-color: $mm-white !default;

$mm-folder-border-color: $mm-grey-light !default;
$mm-folder-hover-border-color: $mm-grey !default;
$mm-folder-focus-border-color: $mm-blue-light !default;

$mm-folder-background-color: $mm-white !default;
$mm-folder-hover-background-color: $mm-grey-lightest !default;
$mm-folder-focus-background-color: $mm-blue-light !default;
