$mm-media-item-selected-color: $mm-white !default;
$mm-media-item-selected-border-color: $mm-red !default;
$mm-media-item-selected-background-color: $mm-red !default;

$mm-media-item-focused-color: $mm-white !default;
$mm-media-item-focused-border-color: $mm-blue-light !default;
$mm-media-item-focused-background-color: $mm-blue-light !default;
