.mm-text-danger {
    color: $mm-text-danger-color;
}

.mm-manger-actions-disabled {
    visibility: hidden;
    pointer-events: none;
}

@keyframes mm-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
